* {
    box-sizing: border-box;
    text-align: center;
  }

  body{
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777;
        background:#777;
        width: 960px;
        font-size: 18px;
    }

    Header, Nav, Section, Aside, footer{

        background: #ebebeb;


        }

Header {
            height: 100px;
            padding : 20px;
}

Nav{
    Margin-top: 10px;
    height: 100px;
    padding : 20px;

}

section{
           
            clear: both;
            overflow: auto;
            Margin-top: 15px;
            width: 58%;
            height: 240px;
            float: left;

        }

aside{
    Margin-top: 15px;
    width: 40%;
    height: 240px;
    float: right;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }




article{
          /*  position: relative; */ 
          /*  position: absolute;*/
           clear: both;
          /* overflow: auto; */
           margin-left: 10px;
            margin-bottom: 0px;
            background: #777;
            width: 97%;
            height: 160px;
       }
       
       article h5{ color: #ebebeb;
                   margin: 0 auto;
                    padding-top: 12px;
                    padding-bottom:0px;
                }
                    
  .h3div{   background: #ebebeb;
            /*z-index: 10;*/
               height: 42px;
               width:93%;
               margin-left: 12px;
            /* margin-bottom: 5px; */
             /*  margin-top: 5px; */
        }


    .h3div h3{
                padding-top: 5px;
             }


p{  background: #ebebeb;
    height:42px;
    width:93%;
    margin-top: 7px;
    margin-left: 12px;
    padding-top: 5px;
}

 footer{  
          width: 100%;
          height: 100px;
          Margin-bottom:0px;
          
         
        }

        footer h5{ padding: 40px;


        }
